*{
    box-sizing: border-box;
}
.col-1 {  width: 8.33%;}
.col-2 { width: 16.66%;}
.col-3 { width: 25%;}
.col-4 { width: 33.33%;}
.col-5 { width: 41.66%}
.col-6 { width: 50%;}
.col-7 { width: 58.33%;}
.col-8 { width: 66.66%;}
.col-9 {  width: 75%;}
.col-10 { width: 83.33%;}
.col-11 { width: 91.66%;}
.col-12 { width: 100%;}

[class*="col-"]{
    float: left;
    border: 1px solid;
}
.row:after{
    content: "";
    clear: both;
    display: block;
}
.container {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.header-height{
    height: 100px;
}
.menu-height{
    height: 50px;
}
.content-height {
    height: 640px;
}
.header-top {
    height: 150px;
}
.footer-height {
    height: 50px;
    margin-bottom: 20px
}
.logo-height {
    height: 200px;
}
.top-footer-height {
    height: 120px;
}

.main-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-ul li {
    float: left;
    width: 120px;
    border: 1px solid gray;
}
.main-ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    height: 47px;
    padding-top: 15px;
    background-color:  black;
    color: white;
    transition: 2s;
}
.main-ul li a:hover {
    background-color: white;
    color: #000;
}
/*.div-one {*/
    /*height: 200px;*/
    /*width: 200px;*/
    /*background-color: red;*/
    /*margin: 50px 0 0 50px;*/
    /*transform: skewY(25deg);*/
    /*!*border-radius: 100px 100px 0 0;*!*/
    /*float: left;*/
/*}*/
/*.div-two {*/
    /*height: 200px;*/
    /*width: 200px;*/
    /*background-color: red;*/
    /*margin: 50px 0 0 50px;*/
    /*transform: skewY(-25deg);*/
    /*!*border-radius: 100px 100px 0 0;*!*/
    /*float: left;*/
    /*margin: 50px 0 0 5px;*/
/*}*/

/*.div-one {*/
    /*height: 200px;*/
    /*width: 20px;*/
    /*background-color: red;*/
    /*margin: 50px 0 0 50px;*/
    /*float: left;*/
    /*transform: skew(-30deg);*/
/*}*/
/*.div-two {*/
    /*height: 200px;*/
    /*width: 20px;*/
    /*background-color: red;*/
    /*margin: 50px 0 0 50px;*/
    /*float: left;*/
    /*margin: 50px 0 0 100px;*/
    /*transform: skew(30deg);*/
/*}*/
/*.div-three {*/
    /*height: 20px;*/
    /*width: 175px;*/
    /*background-color: red;*/
    /*margin: 180px 0 0 32px;*/
/*}*/
/*.div-three {*/
    /*height: 100px;*/
    /*width: 80px;*/
    /*border: 1px solid red;*/
    /*margin: 50px 0 0 50px;*/
    /*border-right: none;*/
    /*border-radius: 50% 0 0 50%;*/
/*}*/
.div-one{
    height: 200px;
    width: 400px;
    background-color: red;
    margin: 50px 0 0 50px;   
    /*transform: scale(1);*/
    /*transition: 2s;*/
    /*transform: rotateY(0deg);*/
    /*background: linear-gradient(to right, red, green,blue,yellow,magenta,maroon);*/
    /*background: radial-gradient( green,blue,red,powderblue);*/
    /*border-radius: 50px;*/
    animation-name: mosabber;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    background-size: 100% ;


}
/*.div-one:hover{*/
    /*!*transform: rotateY(90deg);*!*/
    /*!*border-radius: 50px;*!*/
/*}*/

/*@keyframes  mosabber {*/
    /*0% { background-color: green; width: 200px; height: 200px; transform: rotate(180deg)}*/
    /*25% { background-color: green;height: 200px; width: 600px}*/

    /*50% { background-color: orange; width: 200px; height: 200px;}*/
    /*75% { background-color: orange; height: 600px;  width: 200px;}*/

    /*100% { background-color: yellow; height: 200px; width: 200px;}*/
/*}*/
/*@keyframes  mosabber{*/
 /*0% {transform: rotate(0deg) scale(1); background-color: gray; }*/
 /*50% {transform: rotate(360deg) scale(1.5); background-color: green}*/
 /*100% {transform: rotate(0deg) scale(1; background-color: gray}*/
/*}*/

@keyframes  mosabber{
    0% { background: url("../images/image-1.jpg");  }
    25% { background: url("../images/image-2.jpg"); }
    50% { background: url("../images/image-3.jpg");;}
    75% { background: url("../images/image-4.jpg");;}
    100% {background: url("../images/image-5.jpg"););}
}